// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import 'tailwind';


.input-default {
    @apply shadow-inner appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-gray-200;
}

.input-default:focus {
    @apply outline-none shadow-outline;
}

.btn-default {
    @apply bg-green-500 text-white font-bold py-1 px-4 rounded;
}
.btn-default:hover {
    @apply bg-green-700;
}
.btn-default:focus {
    @apply outline-none shadow-outline;
}
