<template>
    <div>
        <h1>Movements</h1>
        <p>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    @click="$router.push('/movements/create')">Create Movement</button>
        </p>
        <div class="w-full px-10 pt-5">
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                    <p><strong>Movement Types</strong></p>
                    <p v-for="(movementType, index) in movementTypes" :key="index">
                        <input type="checkbox" v-model="filters.type_slug":value="movementType.slug" @change="get"> {{ movementType.name }}
                    </p>
                </div>
                <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                    <p><strong>Accounts</strong></p>
                    <p v-for="(account, index) in accounts" :key="index">
                        <input type="checkbox" v-model="filters.account_id" :value="account.id" @change="get"> {{ account.name }}
                    </p>
                </div>
                <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                    <p><strong>Third party</strong></p>
                    <select class="input-default" id="third_party_id" v-model="filters.third_party_id" @change="get">
                        <option :value="null">All third party</option>
                        <option v-for="(thirdParty, index) in thirdParties" :key="index" :value="thirdParty.id">{{ thirdParty.name }}</option>
                    </select>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <p><strong>Third party</strong></p>
                    <div class="w-full flex items-center">
                        <div class="w-1/2 p-1">
                            <p>From</p>
                            <input class="input-default" id="date_from" type="date" v-model="filters.date_from" @change="get">
                        </div>
                        <div class="w-1/2 p-1">
                            <p>To</p>
                            <input class="input-default" id="date_to" type="date" v-model="filters.date_to" @change="get">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/6 px-3 mb-6 md:mb-0">
                    <a href="#" @click="resetFilters">Reset filters</a>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap px-10 -mx-3 mb-2" v-if="userMovements.length" :class="currentMovement.id == null ? 'opacity-100' : 'opacity-25'">
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th class="px-4 py-2">Date</th>
                    <th class="px-4 py-2">Ammount</th>
                    <th class="px-4 py-2">Movement Type</th>
                    <th class="px-4 py-2">Third Party</th>
                    <th class="px-4 py-2">Account</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr :class="index % 2 ? '' : 'bg-gray-100'" v-for="(movement, index) in userMovements" :key="index">
                    <td class="border px-4 py-2">{{ movement.date }}</td>
                    <td class="border px-4 py-2">{{ movement.ammount }}</td>
                    <td class="border px-4 py-2">{{ movement.type.name }}</td>
                    <td class="border px-4 py-2">
                        <span v-if="movement.third_party != null">{{ movement.third_party.name }}</span>
                    </td>
                    <td class="border px-4 py-2">
                        <span v-if="movement.account != null">{{ movement.account.name }}</span>
                    </td>
                    <td class="border px-4 py-2">
                        <button @click="movementDetail(movement)">
                            Details
                        </button>
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                @click="edit(movement)"
                                :disabled="currentMovement.id != null"
                        >
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                @click="deleteMovement(movement, index)"
                                :disabled="currentMovement.id != null"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="text-center">
                <a href="#" @click="loadMore">Load more</a>
            </p>
        </div>

        <movement-detail-modal
            :movement="currentMovement"
            :show="showDetailModal"
            @hided="onCloseModal()"
        ></movement-detail-modal>

        <delete-modal
            :show="deleteModalShow"
            :url-delete="urlDelete"
            :id="currentMovement.id"
            @deleted="remove()"
            @hided="onCloseModal()"
        ></delete-modal>

        <vue-snotify></vue-snotify>
    </div>
</template>

<script>
    import MovementDetailModal from "../../components/MovementDetailModal";
    import DeleteModal from "../../components/DeleteModal";
    import Api from "../../api/api";

    import Snotify from 'vue-snotify'; // 1. Import Snotify
    Vue.use(Snotify)

    let movements = new Api('movements');
    let accounts = new Api('accounts');
    let movementTypes = new Api('movement_types');
    let thirdParties = new Api('third_party');

    export default {
        components: {MovementDetailModal, DeleteModal},
        name: "Index",
        data() {
            return {
                loading: false,
                userMovements: [],
                thirdParties: [],
                movementTypes: [],
                accounts: [],
                currentMovement: null,
                movementIndex: null,
                showDetailModal: false,
                deleteModalShow: false,
                urlDelete: '/api/movements',

                filters: {
                    type_slug: [],
                    account_id: [],
                    third_party_id: null,
                    date_from: null,
                    date_to: null,
                    limit: 15,
                    offset: 0,
                },

                firstLoad: true
            }
        },
        methods: {
            resetFilters () {
                this.filters = {
                    type_slug: [],
                        account_id: [],
                        third_party_id: null,
                        date_from: null,
                        date_to: null,
                        limit: 15,
                        offset: 0,
                };
                this.get();
            },
            currentReset() {
                this.currentMovement = {
                    id: null,
                    ammount: null,
                    third_party_id: null,
                    date: null,
                    initial_state: 1
                }
            },
            movementDetail(movement) {
                this.currentMovement = movement;
                this.showDetailModal = true;
            },
            edit(movement) {
                this.currentMovement = movement;
            },
            save() {
                this.loading = true;
                this.currentMovement.type_slug = this.movementsType;
                if(this.currentMovement.id == null) {
                    movements.create(this.currentMovement).then((resp) => {
                        if(resp.data.success) {
                            console.log(resp.data.movement);
                            this.userMovements.push(resp.data.movement);
                            this.currentReset();
                            this.loading = false;
                        }
                    });
                } else {
                    movements.update(this.currentMovement.id, {
                        name: this.currentMovement.name,
                        ammount: this.currentMovement.ammount,
                    }).then((resp) => {
                        if(resp.data.success) {
                            this.get();
                        }
                        this.currentReset();
                        this.loading = false;
                    });
                }
            },
            get() {
                this.filters.limit = 15;
                this.filters.offset = 0;
                movements.all(this.filters).then((resp) => {
                    this.userMovements = resp.data.movements;
                });
            },
            loadMore() {
                this.filters.limit = 15;
                this.filters.offset = this.userMovements.length;
                movements.all(this.filters).then((resp) => {
                    if(!resp.data.movements.length) {
                        this.$snotify.success('There are not more movements', {
                            timeout: 2000,
                            showProgressBar: false,
                            closeOnClick: false,
                            pauseOnHover: true
                        });
                    } else {
                        this.userMovements = this.userMovements.concat(resp.data.movements);
                    }
                });
            },
            deleteMovement(movement, index) {
                this.currentMovement = movement;
                this.deleteModalShow = true;
                this.movementIndex = index;
            },
            onCloseModal() {
                this.deleteModalShow = false;
                this.showDetailModal = false;
                this.currentReset();
            },
            remove(){
                this.userMovements.splice(this.movementIndex, 1);
                this.currentReset();
            },

            // ThirdParty
            getThirdParties(updateWithLast) {
                thirdParties.all().then((resp) => {
                    this.thirdParties = resp.data.thirdParties;
                });
                if(updateWithLast) {
                    this.currentMovement.third_party_id = this.thirdParties[this.thirdParties.length - 1].id;
                }
            },

            getMovementTypes() {
                movementTypes.all().then((resp) => {
                    this.movementTypes = resp.data.movement_types;
                });
            },
            getAccounts() {
                accounts.all().then((resp) => {
                    this.accounts = resp.data.accounts;
                });
            },
        },
        beforeMount() {
            this.getThirdParties(false);
            this.getMovementTypes();
            this.getAccounts();
            this.get({limit: 2});
            this.currentReset();
        }
    }
</script>

<style scoped>

</style>
