<template>
    <div>
        <div class="w-full px-3 mb-6 md:mb-0">
            <div class="w-full px-3 mb-6 md:mb-0">
                <p>Date</p>
                <p><input class="input-default" id="date" type="date" v-model="movement.date"></p>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
                <p>Movement type</p>
                <select class="input-default" id="type_id" v-model="movement.type_id" :disabled="!movementTypes.length" @change="getRelatedMovements">
                    <option v-for="(movementType, index) in movementTypes" :key="index" :value="movementType.id">{{ movementType.name }}</option>
                </select>
            </div>

            <div class="w-full px-3 mb-6 md:mb-0" v-if="showRelatedMovements">
                <p>Related Movement</p>
                <select class="input-default" id="movement_id" v-model="movement.movement_id" :disabled="!relatedMovements.length">
                    <option v-for="(relatedMovement, index) in relatedMovements" :key="index" :value="relatedMovement.id">{{ relatedMovement.date }}</option>
                </select>
            </div>

            <div class="w-full px-3 mb-6 md:mb-0">
                <p>Third Party</p>
                <select class="input-default" id="third_party_id" v-model="movement.third_party_id" :disabled="!thirdParties.length">
                    <option v-for="(thirdParty, index) in thirdParties" :key="index" :value="thirdParty.id">{{ thirdParty.name }}</option>
                </select>
                <a href="#" class="ml-3" @click="addThirdPartyModalShow = true">
                    + Add Third Party
                </a>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
                <p>Account</p>
                <select class="input-default" id="account_id" v-model="movement.account_id" :disabled="!accounts.length">
                    <option v-for="(account, index) in accounts" :key="index" :value="account.id">{{ account.name }}</option>
                </select>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
                <p>Comments</p>
                <p><textarea class="input-default" id="comments">{{movement.date}}</textarea></p>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
                <button class="btn-default" @click="save">
                    <span v-if="!loading">Submit</span>
                    <pulse-loader :loading="loading" color="#ffffff" size="10px" v-else></pulse-loader>
                </button>
                <a href="#" class="ml-3" @click="$router.push('movements')">
                    Cancel
                </a>
            </div>
        </div>

        <add-third-party-modal
            :show="addThirdPartyModalShow"
            @saved="updateThirdParty"
            @closed="addThirdPartyModalShow = false"
        ></add-third-party-modal>
    </div>
</template>

<script>
    import Api from "../../api/api";
    import AddThirdPartyModal from "../../components/AddThirdPartyModal";

    let movementTypesApi = new Api('movement_types');
    let thirdPartiesApi = new Api('third_party');
    let accountsApi = new Api('accounts');

    export default {
        name: "MovementForm",
        components: {AddThirdPartyModal},
        data() {
            return {
                movement: {
                    date: null,
                    type_id: null,
                    ammount: 0,
                    third_party_id: null,
                    account_id: null,
                    movement_id: null,
                    comments: null,
                },
                movementTypes: [],
                thirdParties: [],
                accounts: [],

                relatedMovements: [],

                addThirdPartyModalShow: false,
                showRelatedMovements: false,
                loading: false
            }
        },
        methods: {
            getRelatedMovements() {
                axios.get('/api/movements/getRelatedMovements', {
                    movement_type_id: this.movement.type_id
                }).then((resp) => {
                    this.relatedMovements = resp.data.movements;
                });
            },
            save(){},
            // ThirdParty
            async getThirdParties(updateWithLast) {
                await thirdPartiesApi.all().then((resp) => {
                    this.thirdParties = resp.data.thirdParties;
                });
                if(updateWithLast) {
                    this.currentMovement.third_party_id = this.thirdParties[this.thirdParties.length - 1].id;
                }
            },
            updateThirdParty() {
                this.getThirdParties(true);
                this.addThirdPartyModalShow = false
            }
        },
        beforeMount() {
            movementTypesApi.all().then((resp) => {
                this.movementTypes = resp.data.movement_types;
            });
            thirdPartiesApi.all().then((resp) => {
                this.thirdParties = resp.data.thirdParties;
            });
            accountsApi.all().then((resp) => {
                this.accounts = resp.data.accounts;
            });
        }
    }
</script>

<style scoped>

</style>
