<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>

    window.Vue = require('vue');
    import VueRouter from 'vue-router';

    window.Vue.use(VueRouter);

    import Hello from './Hello'
    import Home from './Home'
    import UsersIndex from './users/Index';
    import UsersEdit from './users/Edit';
    import UsersCreate from './users/Create';

    import InitialState from './initial_state/InitialState';
    import AccountsIndex from './accounts/Index';

    import MovementsIndex from './movements/Index';
    import MovementForm from './movements/MovementForm';

    import NotFound from './NotFound';

    const router = new VueRouter({
        mode: 'history',
        routes: [
            {
                path: '/',
                name: 'home',
                component: Home
            },
            {
                path: '/initial_state',
                name: 'initial_state',
                component: InitialState,
            },
            {
                path: '/users',
                name: 'users.index',
                component: UsersIndex,
            },
            {
                path: '/users/:id/edit',
                name: 'users.edit',
                component: UsersEdit,
            },
            {
                path: '/users/create',
                name: 'users.create',
                component: UsersCreate,
            },
            {
                path: '/accounts',
                name: 'accounts.index',
                component: AccountsIndex,
            },
            {
                path: '/movements',
                name: 'movements.index',
                component: MovementsIndex,
            },
            {
                path: '/movements/create',
                name: 'movements.create',
                component: MovementForm,
            },
            { path: '/404', name: '404', component: NotFound },
            { path: '*', redirect: '/404' },
        ],
    });

    export default {
        router,
        name: "App"
    }
</script>

<style scoped>

</style>
