<template>
    <div class="font-sans bg-grey-lighter flex flex-col min-h-screen w-full">
        <div class="flex-grow container mx-auto sm:px-4 pt-6 pb-8">
            <div class="bg-white border-t border-b sm:border-l sm:border-r sm:rounded shadow mb-6">
                <div class="flex">
                    <div class="w-1/2 text-center py-8">
                        <div class="border-r">
                            <div class="text-grey-darker mb-2">
                                <span class="text-3xl align-top">$</span>
                                <span class="text-5xl">{{ calculations.economic }}</span>
                            </div>
                            <div class="text-sm uppercase text-grey tracking-wide">
                                Economic balance
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 text-center py-8">
                        <div class="border-r" v-bind:class="calculations.financial >= 0 ? 'text-green-400' : 'text-red-400'">
                            <div class="mb-2">
                                <span class="text-3xl align-top">$</span>
                                <span class="text-5xl">{{ calculations.financial }}</span>
                            </div>
                            <div class="text-sm uppercase text-grey tracking-wide">
                                Financial balance
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-wrap">
                <div class="flex flex-col w-1/2 p-1">
                    <div class="w-full bg-white border-t sm:rounded sm:border shadow overflow-hidden">
                        <div class="border-b">
                            <div class="flex justify-between items-center px-6 -mb-px">
                                <h3 class="text-blue-dark py-4 font-normal text-lg">Last movements</h3>
                                <div class="block">
                                    <button class="btn-default">
                                        View all
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex px-6 py-6 text-grey-darker items-center border-b -mx-4" v-for="(movement, i) in movements" :key="i">
                            <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                                <span class="text-lg">{{ movement.date }}</span>
                            </div>
                            <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                                <span class="text-lg">{{ movement.type.name }}</span>
                            </div>
                            <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                                <span class="text-lg">$ {{ movement.ammount }}</span>
                            </div>
                            <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                                <span class="text-lg">
                                    <a class="btn-default" href="#" @click="movementDetails(i)">Details</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-1/2 p-1">
                    <div class="w-full bg-white border-t sm:rounded sm:border shadow overflow-hidden">
                        <div class="border-b">
                            <div class="flex justify-between items-center px-6 -mb-px">
                                <h3 class="text-blue-dark py-4 font-normal text-lg">Last third parties added</h3>
                                <div class="block">
                                    <button class="btn-default">
                                        View all
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex px-6 py-6 text-grey-darker items-center border-b -mx-4" v-for="(thirdParty, i) in thirdParties" :key="i">
                            <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                                <span class="text-lg">{{ thirdParty.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movement Detail -->
        <modal name="movement-detail-modal">
            <h1>Movement detail</h1>
            <div class="w-full px-3 py-4 mb-6 md:mb-0" v-if="currentMovement != null">
                <p>Date: {{ currentMovement.date }}</p>
                <p>Movement Type: {{ currentMovement.type.name }}</p>
                <p>Ammount: {{ currentMovement.ammount }}</p>
                <p v-if="currentMovement.account_id">Account: {{ currentMovement.account.name }}</p>
                <p v-if="currentMovement.third_party_id">Third Party: {{ currentMovement.third_party.name }}</p>
                <p>Comments:<br>
                    {{ currentMovement.comments }}</p>
            </div>
            <div class="w-full px-3 mb-6 md:mb-0">
                <a href="#" class="ml-3" @click="closeModal()">
                    Close
                </a>
            </div>
        </modal>
    </div>
</template>

<script>
    import Api from "../api/api";

    let calculations = new Api('calculations');
    let movements = new Api('movements');
    let thirdParties = new Api('third_party');

    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: "Home",
        data: () => {
            return {
                movements: [],
                thirdParties: [],
                currentMovement: null,
                calculations: {
                    economic: 0,
                    financial: 0
                }
            }
        },
        methods: {
            movementDetails(index) {
                this.currentMovement = this.movements[index];
                this.$modal.show('movement-detail-modal')
            },
            closeModal() {
                this.$modal.hide('movement-detail-modal')
            }
        },
        beforeMount() {
            calculations.client().get('calculations').then((resp) => {
                this.calculations.economic = resp.data.economic;
                this.calculations.financial = resp.data.financial;
            });
            movements.all({limit: 5, order_by: 'date'}).then((resp) => {
                this.movements = resp.data.movements;
            });
            thirdParties.all({limit: 5, order_by: 'created_at'}).then((resp) => {
                this.thirdParties = resp.data.thirdParties;
            });
        }
    }
</script>

<style scoped>

</style>
