<template>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg">
        <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
        </svg>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="block w-full p-5">
                <p class="block opacity-75 -mb-1">Indoor</p>
                <span class="block font-semibold text-xl">Peace Lily</span>
            </div>
            <div class="flex p-5">
                <h1 class="block text-6xl font-bold px-3 py-2 leading-none flex items-center left-auto">$36.00</h1>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AccountCardComponent"
    }
</script>

<style scoped>

</style>
