<template>
    <modal name="third-party-modal" @closed="onClosed">
        <h1>Add Third Party</h1>
        <div class="w-full px-3 py-4 mb-6 md:mb-0">
            <input class="input-default" id="third_party_name" type="text" placeholder="Third party name" v-model="thirdParty.name">
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    :disabled="thirdParty.name == undefined || thirdParty.name == null || thirdParty.name == ''"
                    @click="save">
                <span>Submit</span>
            </button>
            <a href="#" class="ml-3" @click="hide">
                Cancel
            </a>
        </div>
    </modal>
</template>

<script>
    import Api from "../api/api";
    let thirdPartyApi = new Api('third_party');

    import VModal from 'vue-js-modal';
    Vue.use(VModal, { dialog: true });

    export default {
        name: "AddThirdPartyModal",
        props: {
            show: Boolean
        },
        data() {
            return {
                thirdParty: {
                    name: ''
                }
            }
        },
        watch: {
            show: function (newVal, oldVal) {
                if(newVal) {
                    this.showModal();
                } else {
                    this.hide();
                }
            }
        },
        methods: {
            showModal() {
                this.$modal.show('third-party-modal')
            },
            hide() {
                this.$modal.hide('third-party-modal');
                this.$emit('closed');
            },
            onClosed() {
                this.$emit('closed');
            },
            save() {
                thirdPartyApi.create(this.thirdParty).then((resp) => {
                    if(resp.data.success) {
                        this.thirdParty.name = null;
                        this.$emit('saved');
                        this.hide();
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
