<template>
    <v-dialog @closed="onClosed" />
</template>

<script>

    import VModal from 'vue-js-modal'

    Vue.use(VModal, { dialog: true })

    export default {
        name: "DeleteModal",
        props: {
            show: Boolean,
            urlDelete: String,
            id: Number
        },
        watch: {
            show: function (newVal, oldVal) {
                if(newVal) {
                    this.showModal();
                } else {
                    this.hide();
                }
            }
        },
        methods: {
            showModal() {
                this.$modal.show('dialog', {
                    title: 'Delete record',
                    text: 'Do you want to delete this record?',
                    buttons: [
                        {
                            title: 'Submit',
                            handler: () => {
                                axios.delete(this.urlDelete+'/'+this.id).then((resp) => {
                                    this.$emit('deleted');
                                    this.hide();
                                });
                            }
                        },
                        {
                            title: 'Close',
                            handler: () => {
                                this.hide();
                            }
                        }
                    ]
                })
            },
            hide() {
                this.$modal.hide('dialog');
            },
            onClosed(){
                this.$emit('hided');
            }
        }
    }
</script>

<style scoped>

</style>
