<template>
    <!-- Movement Detail -->
    <modal name="movement-detail-modal">
        <h1>Edit Movement</h1>
        <div class="w-full px-3 py-4 mb-6 md:mb-0" v-if="movement != null">
            <p><input class="input-default" id="date" type="date" v-model="movement.date"></p>
            <p><input class="input-default" id="type_slug" type="date" v-model="movement.type_slug"></p>
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
            <a href="#" class="ml-3" @click="hide()">
                Close
            </a>
        </div>
    </modal>
</template>

<script>

    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: "EditMovementModal",
        props: {
            show: Boolean,
            movement: Object
        },
        watch: {
            show: function (newVal, oldVal) {
                if(newVal) {
                    this.showModal();
                } else {
                    this.hide();
                }
            }
        },
        methods: {
            showModal() {
                this.$modal.show('movement-detail-modal')
            },
            hide() {
                this.$modal.hide('movement-detail-modal');
                this.$emit('hided');
            },
            onClosed(){
                this.$emit('hided');
            }
        }
    }
</script>

<style scoped>

</style>
