<template>
    <!-- Movement Detail -->
    <modal name="movement-detail-modal">
        <h1>Movement detail</h1>
        <div class="w-full px-3 py-4 mb-6 md:mb-0" v-if="movement != null">
            <p>Date: {{ movement.date }}</p>
            <p v-if="movement.type_id">Movement Type: {{ movement.type.name }}</p>
            <p>Ammount: {{ movement.ammount }}</p>
            <p v-if="movement.account_id">Account: {{ movement.account.name }}</p>
            <p v-if="movement.third_party_id">Third Party: {{ movement.third_party.name }}</p>
            <p>Comments:<br>
                {{ movement.comments }}</p>
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
            <a href="#" class="ml-3" @click="hide()">
                Close
            </a>
        </div>
    </modal>
</template>

<script>

    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: "MovementDetailModal",
        props: {
            show: Boolean,
            movement: Object
        },
        watch: {
            show: function (newVal, oldVal) {
                if(newVal) {
                    this.showModal();
                } else {
                    this.hide();
                }
            }
        },
        methods: {
            showModal() {
                this.$modal.show('movement-detail-modal')
            },
            hide() {
                this.$modal.hide('movement-detail-modal');
                this.$emit('hided');
            },
            onClosed(){
                this.$emit('hided');
            }
        }
    }
</script>

<style scoped>

</style>
