<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>

    window.Vue = require('vue');
    import VueRouter from 'vue-router';

    window.Vue.use(VueRouter);

    import Login from './Login'
    import Register from './Register'

    import NotFound from '../NotFound'

    const router = new VueRouter({
        mode: 'history',
        routes: [
            {
                path: '/login',
                name: 'login',
                component: Login
            },
            {
                path: '/register',
                name: 'register',
                component: Register,
            },
            { path: '/404', name: '404', component: NotFound },
            { path: '*', redirect: '/404' },
        ],
    });

    export default {
        router,
        name: "App"
    }
</script>

<style scoped>

</style>
