<template>
    <div class="bg-green-800 h-screen flex items-center">
        <div class="w-1/3 max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl block">
            <div class="w-full max-w-xs">
                <h1 class="w-full">Login</h1>
                <div v-if="message" class="alert">{{ message }}</div>
                <form @submit.prevent="onSubmit($event)">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_email">Email</label>
                        <input class="input-default" id="user_email" type="email" v-model="user.email" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_password">Password</label>
                        <input class="input-default" id="user_password" type="password" v-model="user.password" />
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Sign In
                        </button>
                        <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800" href="#">
                            Forgot Password?
                        </a>
                    </div>
                    <div class="block text-center">
                        <router-link to="/register">
                            <a class="inline-block align-baseline text-xs text-blue-300 hover:text-green-800" href="#">
                                Create an account
                            </a>
                        </router-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                saving: false,
                message: false,
                user: {
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            onSubmit($event) {
                this.saving = true
                this.message = false

                axios.defaults.withCredentials = true;

                axios.get('/airlock/csrf-cookie').then(response => {
                    axios.post('/login', this.user)
                        .then((response) => {
                            console.log(response.data);
                            //this.$router.push({ name: 'users.index' });
                            document.location.href = '/';
                        })
                        .catch((e) => {
                            console.log(e);
                            this.message = e.response.data.message || 'There was an issue creating the user.';
                        })
                        .then(() => this.saving = false)
                });
            }
        }
    }
</script>
<style lang="scss" scoped>
    $red: lighten(red, 30%);
    $darkRed: darken($red, 50%);

    .form-group {
        margin-bottom: 1em;
        label {
            display: block;
        }
    }
    .alert {
        background: $red;
        color: $darkRed;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 1px solid $darkRed;
        border-radius: 5px;
    }
</style>
