<template>
    <div class="bg-green-800 h-screen flex items-center">
        <div class="w-1/3 max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl block">
            <div class="w-full max-w-xs">
                <h1 class="w-full">Register</h1>
                <div v-if="message" class="alert">{{ message }}</div>
                <form @submit.prevent="onSubmit($event)">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_email">Name</label>
                        <input class="input-default" id="user_name" type="text" v-model="user.name" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_email">Email</label>
                        <input class="input-default" id="user_email" type="email" v-model="user.email" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_password">Password</label>
                        <input class="input-default" id="user_password" type="password" v-model="user.password" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="user_password">Password confirm</label>
                        <input class="input-default" id="user_password_confirm" type="password" v-model="user.password_confirmation" />
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" :disabled="saving">
                            Register
                        </button>
                        <router-link to="/login">
                            <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800">
                                I have an account
                            </a>
                        </router-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                saving: false,
                message: false,
                user: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        methods: {
            onSubmit($event) {
                this.saving = true
                this.message = false

                axios.defaults.withCredentials = true;

                axios.post('/register', this.user)
                    .then((response) => {
                        document.location.href = '/';
                    })
                    .catch((e) => {
                        console.log(e);
                        this.message = e.response.data.message || 'There was an issue creating the user.';
                    })
                    .then(() => this.saving = false);
            }
        }
    }
</script>
<style lang="scss" scoped>
    $red: lighten(red, 30%);
    $darkRed: darken($red, 50%);

    .form-group {
        margin-bottom: 1em;
        label {
            display: block;
        }
    }
    .alert {
        background: $red;
        color: $darkRed;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 1px solid $darkRed;
        border-radius: 5px;
    }
</style>
