<template>
    <div>
        <div class="w-full pt-5">
            <input type="hidden" v-model="currentAccount.id" />
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="account_name" type="text" placeholder="Account name" v-model="currentAccount.name">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="account_ammount" type="number" step="0.01" placeholder="Account ammount" v-model="currentAccount.ammount">
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        @click="saveAccount"
                        :disabled="loading || disabledButton">
                        <span v-if="!loading">Submit</span>
                        <pulse-loader :loading="loading" color="#ffffff" size="10px" v-else></pulse-loader>
                    </button>
                    <a href="#" class="ml-3" @click="currentAccountReset">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2" v-if="userAccounts.length" :class="currentAccount.id == null ? 'opacity-100' : 'opacity-25'">
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th class="px-4 py-2">Account</th>
                    <th class="px-4 py-2">Ammount</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr :class="index % 2 ? '' : 'bg-gray-100'" v-for="(account, index) in userAccounts" :key="index">
                    <td class="border px-4 py-2">{{ account.name }}</td>
                    <td class="border px-4 py-2">{{ account.ammount }}</td>
                    <td class="border px-4 py-2">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            @click="editAccount(account)"
                            :disabled="currentAccount.id != null"
                        >
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            @click="deleteAccount(account, index)"
                            :disabled="currentAccount.id != null"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="" v-else>
            <p>No hay cuentas cargadas</p>
        </div>

        <delete-modal
            :show="deleteModalShow"
            :url-delete="urlDelete"
            :id="currentAccount.id"
            @deleted="remove()"
            @hided="onCloseModal()"
        ></delete-modal>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import DeleteModal from "../../components/DeleteModal";
    import Api from "../../api/api";

    let accounts = new Api('accounts');

    export default {
        components: {DeleteModal, PulseLoader},
        data() {
            return {
                loading: false,
                userAccounts: [],
                currentAccount: {
                    id: null,
                    name: null,
                    ammount: null,
                    initial_state: 1
                },
                accountIndex: null,
                deleteModalShow: false,
                urlDelete: '/api/accounts'
            }
        },
        computed: {
            disabledButton() {
                return this.currentAccount.name == undefined ||
                    this.currentAccount.name == null ||
                    this.currentAccount.name == '' ||
                    this.currentAccount.ammount == undefined ||
                    this.currentAccount.ammount == null ||
                    this.currentAccount.ammount == '';
            }
        },
        methods: {
            currentAccountReset() {
                this.currentAccount = {
                    id: null,
                    name: null,
                    ammount: null,
                    initial_state: 1
                }
            },
            editAccount(account) {
                this.currentAccount = account;
            },
            saveAccount() {
                this.loading = true;
                if(this.currentAccount.id == null) {
                    accounts.create(this.currentAccount).then((resp) => {
                        if(resp.data.success) {
                            this.userAccounts.push(resp.data.account);
                            this.currentAccountReset();
                            this.loading = false;
                            this.$emit('can-continue', {value: true});
                        }
                    });
                } else {
                    accounts.update(this.currentAccount.id, {
                        name: this.currentAccount.name,
                        ammount: this.currentAccount.ammount,
                    }).then((resp) => {
                        if(resp.data.success) {
                            this.getAccounts();
                        }
                        this.currentAccountReset();
                        this.loading = false;
                    });
                }
            },
            getAccounts() {
                accounts.all().then((resp) => {
                    this.userAccounts = resp.data.accounts;
                    this.$emit('can-continue', {value: this.userAccounts.length});
                });
            },
            deleteAccount(account, index) {
                this.currentAccount = account;
                this.deleteModalShow = true;
                this.accountIndex = index;
            },
            remove(){
                this.userAccounts.splice(this.accountIndex, 1);
                this.currentAccountReset();
                this.$emit('can-continue', {value: this.userAccounts.length});
            },
            onCloseModal() {
                this.deleteModalShow = false;
                this.currentAccountReset();
            }
        },
        beforeMount() {
            this.getAccounts();
        }
    }
</script>

<style scoped>

</style>
