<template>
    <movements
        :movements-type="movementsType"
    ></movements>
</template>

<script>
    import Movements from "./Movements";

    export default {
        name: "Debits",
        components: {Movements},
        data() {
            return {
                movementsType: 'debits'
            }
        },
        mounted() {
            this.$emit('can-continue', {value: true});
        }
    }
</script>

<style scoped>

</style>
