<template>
    <horizontal-stepper :steps="demoSteps"
        @completed-step="completeStep"
        @active-step="isStepActive"
        @stepper-finished="goToHome"
    >
    </horizontal-stepper>
</template>

<script>
    import HorizontalStepper from 'vue-stepper';

    import Accounts from './Accounts.vue';
    import Credits from './Credits.vue';
    import Debits from './Debits.vue';

    export default {
        components: {
            HorizontalStepper
        },
        data(){
            return {
                demoSteps: [
                    {
                        icon: 'account_balance',
                        name: 'first',
                        title: 'Accounts',
                        subtitle: 'Manage your accounts',
                        component: Accounts,
                        completed: true
                    },
                    {
                        icon: 'add',
                        name: 'second',
                        title: 'Credits',
                        subtitle: 'Manage your credits',
                        component: Credits,
                        completed: true
                    },
                    {
                        icon: 'remove',
                        name: 'third',
                        title: 'Debits',
                        subtitle: 'Manage your debits',
                        component: Debits,
                        completed: true
                    },
                ]
            }
        },
        methods: {
            // Executed when @completed-step event is triggered
            completeStep(payload) {
                this.demoSteps.forEach((step) => {
                    if (step.name === payload.name) {
                        step.completed = true;
                    }
                })
            },
            // Executed when @active-step event is triggered
            isStepActive(payload) {
                this.demoSteps.forEach((step) => {
                    if (step.name === payload.name) {
                        if(step.completed === true) {
                            step.completed = false;
                        }
                        if(payload.name != 'first') {
                            step.component.data.movementsType = 'credits';
                        }
                    }
                })
            },
            // Executed when @stepper-finished event is triggered
            goToHome(payload) {
                this.$router.push('/');
            }
        }
    }
</script>

<style scoped>

</style>
