<template>
    <div>
        <div class="w-full pt-5">
            <input type="hidden" v-model="currentMovement.id" />
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="ammount" type="number" step="0.01" placeholder="Ammount" v-model="currentMovement.ammount">
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <select class="input-default" id="third_party_id" v-model="currentMovement.third_party_id" :disabled="!thirdParties.length">
                        <option value="0">Select third party</option>
                        <option v-for="(thirdParty, index) in thirdParties" :key="index" :value="thirdParty.id">{{ thirdParty.name }}</option>
                    </select>
                    <a href="#" class="ml-3" @click="addThirdPartyModalShow = true">
                        + Add Third Party
                    </a>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="date" type="date" v-model="currentMovement.date">
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="save">
                        <span v-if="!loading">Submit</span>
                        <pulse-loader :loading="loading" color="#ffffff" size="10px" v-else></pulse-loader>
                    </button>
                    <a href="#" class="ml-3" @click="currentReset">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2" v-if="userMovements.length" :class="currentMovement.id == null ? 'opacity-100' : 'opacity-25'">
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th class="px-4 py-2">Ammount</th>
                    <th class="px-4 py-2">Third Party</th>
                    <th class="px-4 py-2">Date</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr :class="index % 2 ? '' : 'bg-gray-100'" v-for="(movement, index) in userMovements" :key="index">
                    <td class="border px-4 py-2">{{ movement.ammount }}</td>
                    <td class="border px-4 py-2">
                        <span v-if="movement.third_party != null">{{ movement.third_party.name }}</span>
                    </td>
                    <td class="border px-4 py-2">{{ movement.date }}</td>
                    <td class="border px-4 py-2">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            @click="edit(movement)"
                            :disabled="currentMovement.id != null"
                        >
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            @click="deleteMovement(movement, index)"
                            :disabled="currentMovement.id != null"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <delete-modal
            :show="deleteModalShow"
            :url-delete="urlDelete"
            :id="currentMovement.id"
            @deleted="remove()"
            @hided="onCloseModal()"
        ></delete-modal>

        <add-third-party-modal
            :show="addThirdPartyModalShow"
            @saved="updateThirdParty"
            @closed="addThirdPartyModalShow = false"
        ></add-third-party-modal>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import AddThirdPartyModal from "../../components/AddThirdPartyModal";
    import DeleteModal from "../../components/DeleteModal";
    import Api from "../../api/api";
    let movements = new Api('movements');
    let thirdPartiesApi = new Api('third_party');

    export default {
        components: {DeleteModal, PulseLoader, AddThirdPartyModal},
        data() {
            return {
                loading: false,
                userMovements: [],
                thirdParties: [],
                currentMovement: null,
                movementIndex: null,
                deleteModalShow: false,
                urlDelete: '/api/movements',

                addThirdPartyModalShow: false
            }
        },
        props: {
            movementsType: String,
        },
        methods: {
            currentReset() {
                this.currentMovement = {
                    id: null,
                    ammount: null,
                    third_party_id: null,
                    date: null,
                    initial_state: 1
                }
            },
            edit(movement) {
                this.currentMovement = movement;
            },
            save() {
                this.loading = true;
                this.currentMovement.type_slug = this.movementsType;
                if(this.currentMovement.id == null) {
                    movements.create(this.currentMovement).then((resp) => {
                        if(resp.data.success) {
                            console.log(resp.data.movement);
                            this.userMovements.push(resp.data.movement);
                            this.currentReset();
                            this.loading = false;
                        }
                    });
                } else {
                    movements.update(this.currentMovement.id, {
                        name: this.currentMovement.name,
                        ammount: this.currentMovement.ammount,
                    }).then((resp) => {
                        if(resp.data.success) {
                            this.get();
                        }
                        this.currentReset();
                        this.loading = false;
                    });
                }
            },
            get() {
                movements.all({type_slug: this.movementsType}).then((resp) => {
                    this.userMovements = resp.data.movements;
                });
            },
            deleteMovement(movement, index) {
                this.currentMovement = movement;
                this.deleteModalShow = true;
                this.movementIndex = index;
            },
            onCloseModal() {
                this.deleteModalShow = false;
                this.currentReset();
            },
            remove(){
                this.userMovements.splice(this.movementIndex, 1);
                this.currentReset();
            },

            // ThirdParty
            async getThirdParties(updateWithLast) {
                await thirdPartiesApi.all().then((resp) => {
                    this.thirdParties = resp.data.thirdParties;
                });
                if(updateWithLast) {
                    this.currentMovement.third_party_id = this.thirdParties[this.thirdParties.length - 1].id;
                }
            },
            updateThirdParty() {
                this.getThirdParties(true);
                this.addThirdPartyModalShow = false
            }
        },
        beforeMount() {
            this.getThirdParties(false);
            this.get();
            this.currentReset();
        }
    }
</script>

<style scoped>

</style>
