<template>
    <div>
        <div class="w-full pt-5">
            <input type="hidden" v-model="currentCredit.id" />
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="credit_ammount" type="number" step="0.01" placeholder="Credit ammount" v-model="currentCredit.ammount">
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <select class="input-default" id="credit_third_party_id" v-model="currentCredit.third_party_id">
                        <option v-for="(thirdParty, index) in thirdParties" :key="index" :value="thirdParty.id">{{ thirdParty.name }}</option>
                    </select>
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <input class="input-default" id="credit_date" type="date" v-model="currentCredit.date">
                </div>
                <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="saveCredit">
                        Submit
                    </button>
                    <a href="#" class="ml-3" @click="currentReset">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2" v-if="userCredits.length" :class="currentCredit.id == null ? 'opacity-100' : 'opacity-25'">
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th class="px-4 py-2">Ammount</th>
                    <th class="px-4 py-2">Third Party</th>
                    <th class="px-4 py-2">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr :class="index % 2 ? '' : 'bg-gray-100'" v-for="(credit, index) in userCredits" :key="index">
                    <td class="border px-4 py-2">{{ credit.name }}</td>
                    <td class="border px-4 py-2">{{ credit.ammount }}</td>
                    <td class="border px-4 py-2">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                @click="editCredit(credit)"
                                :disabled="currenCredit.id != null"
                        >
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                @click="deleteCredit(credit)"
                                :disabled="currentCredit.id != null"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <v-dialog/>
    </div>
</template>

<script>
    import Api from "../../api/api";
    let thirdPartyApi = new Api('third_party');

    export default {
        data() {
            return {
                userCredits: null,
                currentCredit: {
                    id: null,
                    ammount: null,
                    third_party_id: null,
                    date: null,
                    initial_state: 1
                }
            }
        },
        methods: {
            currentReset() {
                this.currentCredit = {
                    id: null,
                    ammount: null,
                    third_party_id: null,
                    date: null,
                    initial_state: 1
                }
            },
            edit(credit) {
                this.currentCredit = credit;
            },
            saveCredit() {
                if(this.currentCredit.id == null) {
                    thirdPartyApi.create(this.currentCredit).then((resp) => {
                        if(resp.data.success) {
                            this.getCredits();
                            this.currentReset();
                        }
                    });
                } else {
                    thirdPartyApi.update(this.currentCredit.id, {
                        name: this.currentCredit.name,
                        ammount: this.currentCredit.ammount,
                    }).then((resp) => {
                        if(resp.data.success) {
                            this.getCredits();
                        }
                        this.currentReset();
                    });
                }
            },
            getCredits() {
                thirdPartyApi.all({type_slug: 'credits'}).then((resp) => { this.userCredits = resp.data});
            },
            deleteCredit(credit) {
                this.currentCredit = credit;
                this.$modal.show('dialog', {
                    title: 'Delete record',
                    text: 'Do you want to delete this record?',
                    buttons: [
                        {
                            title: 'Submit',
                            handler: () => {
                                thirdPartyApi.delete(this.currentCredit.id).then((resp) => {
                                    this.getCredits();
                                    this.$modal.hide('dialog');
                                });
                            }
                        },
                        {
                            title: 'Close'
                        }
                    ]
                })
            }
        },
        beforeMount() {
            this.getCredits();
        }
    }
</script>

<style scoped>

</style>
